<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
    <title>Crear Insumo</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <div class="container">
        <div class="col-5 col-md-5 offset-md-3">
        <br>
            <h1 class= "text-center">Nuevo Carrito</h1>
            <form th:action="@{/views/libroSeleccionado/save}" th:object="${libroSeleccionado}" method="POST">
            <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="text" th:field="*{id}" class="form-control" id="id"/>
                    
                </div>
                <div class="form-group">
                    <label for="titulo">Cantidad:</label>
                    <input type="text" th:field="*{cantidad}" class="form-control" id="cantidad"/>
                    
                </div>
                <div class="form-group">
                    <label for="autor">compra llave: </label>
                    <textarea th:field="*{comprallave}" class="form-control" id="comprallave"></textarea>
                    </div>
                    
                    
				</div>
             
              
                <br><br>
                <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">
                <img src="/img/IconoGuardar.png" alt="Guardar" style="width: 80px; height: 80px;"></button>
                </div>
                <br><br>
                <br><br>
                <br><br>
            </form>
        </div>
    </div>
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>
